<div>
    <div class="w-100 d-flex justify-content-center lead p-3 mb-3">
        Task Details
    </div>

    <div class="p-3">
        <form [formGroup]="EditTaskForm" (ngSubmit)="saveDetails()" class="example-form">

            <mat-form-field class="w-100"  appearance="fill">
                <mat-label>Title</mat-label>
                <input matInput formControlName="title" [errorStateMatcher]="errorMatcher">
                <mat-error >
                    <div *ngIf="getTitle()?.errors?.['required']" class="mb-3">Title is required</div>
                    <div *ngIf="getTitle()?.errors?.['maxlength']" class="mb-3">Title exceeds maximum length of 250 words</div>
                </mat-error>
            </mat-form-field>
    
            <mat-form-field class="w-100"  appearance="fill">
                <mat-label>Description</mat-label>
                <input matInput formControlName="description">
  
                <mat-error >
                    <div *ngIf="getDescription()?.errors?.['required']" class="mb-3">Description is required</div>
                </mat-error>
            </mat-form-field>

           <div>
            <mat-form-field class="example-full-width w-100" appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input  matInput [matDatepicker]="selecteddate" formControlName="selecteddate" [errorStateMatcher]="errorMatcher">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle  matSuffix [for]="selecteddate">
                  <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker  #selecteddate></mat-datepicker>
              </mat-form-field>

              <div (click)="unSelectDate()" class="text-primary unselecttext">
                Click Here to unselect date
              </div>
           </div>

           <div class="d-flex justify-content-center mt-3">
            <button type="submit" class="bg-primary btn text-white">Update Details</button>
           </div>

           <div class="d-flex justify-content-end">
            <a  [routerLink]="['/']">
                Go To Dashboard
            </a>
           </div>
        </form>
    </div>
</div>