<div>
    <div class="d-flex justify-content-center my-3">
        <strong class="fs-3">Dashboard</strong>
    </div>

    <div class="d-flex justify-content-end mb-3 me-3 ">
        <a class="" [routerLink]="['/addtodo']">
            Add New Task
        </a>
    </div>
    <div>
        <div class="m-3 border p-2  d-flex justify-content-between" *ngFor="let listitem of listData">
            <div (click)="navigateToATask(listitem.id)" class="text-break hover">
                <strong>{{listitem.title}}</strong>
            </div>

            <div>
                <i (click)="deleteTask(listitem.id)" class="bi bi-trash3 hover"></i>
            </div>
        </div>
    </div>

    <div *ngIf="listData.length > 0" class="d-flex justify-content-end mt-5">
        <mat-paginator (page)="handlePageEvent($event)" [length]="length" [pageSize]="limit"
            [pageSizeOptions]="pageSizeOptions" [pageIndex]="offset"
            aria-label="Select page">
        </mat-paginator>
    </div>

    <div *ngIf="listData.length == 0" class="d-flex justify-content-center mt-5 lead">
        You have not added any task. Please add task
    </div>
</div>